*{
  margin:0;
  padding:0;
  box-sizing:border-box
}
/* header{
  list-style-type: none;
  margin: 0;
  padding: 0rem;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
} */

main{
  padding: 1rem;
}

/* footer{
  background: #333;
  padding: 5rem;
  text-align: center;
  color: #fff;
} */
